/*----------Google font----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

body {
    margin: 0;
    border: 0;
    padding: 0;
    background: transparent;
    font-family: 'Akaya Telivigala', cursive, sans-serif;
    font-size: 20px;  
}
.logo {
    height: 40px;
}
.navbar,.footer-container {
    background-color: #92e3a9;
}
.brand-text {
    margin-left: 0;
}
h1, h2, h3 {
    color: black;
}
.landing-container {
    background-image: url(../images/landingpage.png);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 600px;
    padding: 0;
    margin: 0;
    border: 0   
}
.assignment2 {
   height: 1500px;   
}

.cta-btn {
    position:absolute;
    top: 30%;
    left: 40%;
    display: block;
}
.card {
    background-color: #92e3a9;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    border: 2px solid #92e3a9;
    box-shadow: 5px -5px #33ad55;
}
.card:hover {
    transform: scale(1.1); 
    transition-property: 5s;
}
#modal {
    position: fixed;
    z-index: 3;
}
p {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.fullname {
    font-weight: 700;
}
.emp_no {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}
.badge {
    background-color: #326896;
    height: 50px;
    width: 50px;
    padding-top: 20px;
    border-radius: 50%;
    font-weight: 700;
    color: white;
}
i {
    color: white;
}
a {
    color: white;
    padding: 5px;
}
#search-input {
    border: 2px solid chocolate; 
}
.btn-info {
    background-color: chocolate!important;
    color: white;
}
.fa-search  {
    height: 30px;
}
h2 {
    margin-left: 150px;
}
.footer {
    bottom: 0;
}
.card-btn {
    background-color: #326896;
}
.modal-content {
    background-color: #e1f1e6!important;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;   /* Height of the footer */

}