body {
    background-color: whitesmoke;
}
h1, h3 {
    color: cadetblue;
}
.cta-btn {
    position:absolute;
    top: 30%;
    left: 40%;
    display: block;
}
.card {
    background-color: cadetblue;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    border: 2px solid teal;
    box-shadow: 5px -5px teal;
}
.card:hover {
    transform: scale(1.1); 
    transition-property: 5s;
}
#modal {
    position: fixed;
    z-index: 3;
}
p {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.fullname {
    font-weight: 700;
}
.emp_no {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}
.badge {
    background-color: #254A5D;
    height: 50px;
    width: 50px;
    padding-top: 20px;
    border-radius: 50%;
    font-weight: 700;
    color: white;
}
i {
    color: white;
}
a {
    background-color: #254A5D;
    color: white;
    padding: 5px;
}

.btn-info {
    background-color: chocolate!important;
}